body, html {
    height: auto;
}

body{
  font-family: sans-serif;
}

.test{
  overflow: hidden;
}
.bg {
    background-image: url("../img/hout.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.container{
  height: 100%;
  padding-top: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #e3e9ed;
  background: rgb(248,248,255);
  background: rgba(255,240,245, 0.5);
  border-radius: 50px 50px 0px 0px;
  position: relative;
}

ul {
    list-style-type: none;
    margin: 20px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    padding-left: 30px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    text-decoration:none;
    color: black;
}

.logo{
  display: inline-block;
}

.logo h1{
  font-size: 50px;
  line-height: 52px;
  color: #c85b5f;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  padding-bottom: 30px;
  letter-spacing: 7px;
}

.site-header{
  text-align: center;
  padding-top: 65px;
  border-radius: 3px 3px 0 0;
  height: 100%;
}

.single-pattern-container {
height: 100%;
margin-top: 50px;
padding: 5px 5% 40px;
border-radius: 10px;
background-color: rgba(126,191,194,0.5);
text-align: center;
margin-left: 80px;
margin-right: 80px;
padding: 70px;
font-size: 19px;
}

#slideshow {
  overflow: hidden;
  height: 425px;
  width: 500px;
  margin: 0 auto;
}

.slide-wrapper {
  width: 2912px;
  -webkit-animation: slide 18s ease infinite;
}

.slide {
  float: left;
  height: 500px;
  width: 700px;
}

.slide:nth-child(1) {
  background-image: url("../img/kinderboerderij1.jpg");
  background-position: center center;
  background-size: cover;
}

.slide:nth-child(2) {
  background-image: url("../img/koe.jpg");
  background-position: center center;
  background-size: cover;
}

.slide:nth-child(3) {
  background-image: url("../img/lammetje1.jpg");
  background-position: center center;
  background-size: cover;
}

.slide:nth-child(4) {
  background-image: url("../img/lammetje2.jpg");
  background-position: center center;
  background-size: cover;
}

.slide-number {
  color: #000;
  text-align: center;
  font-size: 10em;
}

@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

#logo {
  border-radius: 15px;
  margin-bottom: 40px;
  width: 180px;
  height: 190px;
}

#titel{
  margin-bottom: 25px;
}

.tijden{
background-color: rgba(0,0,0,1);
margin-left: 350px;
margin-right: 350px;
padding: 25px;
padding-bottom: 40px;
color: white;
}
.footer{
  padding: 70px;
}
